<html>
  <head>
<<<<<<< HEAD
  <title>index</title>
=======
  <title>TV Ni Mang Tomas</title>
>>>>>>> e26d7a745ba4ceb52511e73ebd9a88610d73b501
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <div id="header">
    <p><a href="/"><img src="/images/banner.jpg" style="width:100%"></a></p>
  </div>  
<<<<<<< HEAD
  <div class="navbar">
    <div><a href="/movie" class="active">movies</a></div>
    <div><a href="/tv">tv-shows</a></div>
  </div>
=======
>>>>>>> e26d7a745ba4ceb52511e73ebd9a88610d73b501
  <div id="content">
    <%= yield %>
  </div>
  
  </body>
</html>
