<html>
  <head>
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <div id="header">
    <p><a href="/"><img src="/images/banner.jpg" style="width:100%"></a></p>
  </div>  
  <div id="content">
    <%= yield %>
  </div>
  
  </body>
</html>
