body{
  color: yellow;  
  background: #000000;
}
.navbar{
  display: flex;
  justify-content: center; 
  width: 100%;
  align-items: center;
}

.navbar div{ 
  font-weight: bold; 
  font-size: 4em; 
  padding: 50px; 
}
.navbar div a{
  text-decoration: none;
} 

#content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.item{
  flex: 200px;
}

.item a{
  flex: 200px;
  text-decoration: none;
  color: yellow;
}

